In [1]:
import matplotlib
from sklearn.linear_model import LinearRegression
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

ImportError: No module named model_selection

In [2]:
house_features_dataframe=pd.read_csv("kc_house_data.csv")

In [3]:
house_features_dataframe.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [4]:
Y=house_features_dataframe.as_matrix(['price'])
house_features_dataframe.drop(['price','date'], inplace=True, axis=1)

In [5]:
X=house_features_dataframe.as_matrix()

In [29]:
house_features_dataframe_copy=pd.read_csv("kc_house_data.csv")

In [6]:
print X,Y

[[  7.12930052e+09   3.00000000e+00   1.00000000e+00 ...,  -1.22257000e+02
    1.34000000e+03   5.65000000e+03]
 [  6.41410019e+09   3.00000000e+00   2.25000000e+00 ...,  -1.22319000e+02
    1.69000000e+03   7.63900000e+03]
 [  5.63150040e+09   2.00000000e+00   1.00000000e+00 ...,  -1.22233000e+02
    2.72000000e+03   8.06200000e+03]
 ...,
 [  1.52330014e+09   2.00000000e+00   7.50000000e-01 ...,  -1.22299000e+02
    1.02000000e+03   2.00700000e+03]
 [  2.91310100e+08   3.00000000e+00   2.50000000e+00 ...,  -1.22069000e+02
    1.41000000e+03   1.28700000e+03]
 [  1.52330016e+09   2.00000000e+00   7.50000000e-01 ...,  -1.22299000e+02
    1.02000000e+03   1.35700000e+03]] [[ 221900.]
 [ 538000.]
 [ 180000.]
 ...,
 [ 402101.]
 [ 400000.]
 [ 325000.]]

In [22]:
X_train, X_test, y_train, y_test = np.asarray(train_test_split(X, Y, test_size=0.1))

In [23]:
model=LinearRegression()
model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [24]:
print "Score:",model.score(X_test,y_test)

Score: 0.708199507076

In [32]:
X_eval=house_features_dataframe[house_features_dataframe.id ==1925069082]

In [31]:
house_features_dataframe_copy[house_features_dataframe_copy.id ==1925069082]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
1361,1925069082,20150511T000000,2200000.0,5,4.25,4640,22703,2.0,1,4,...,8,2860,1780,1952,0,98052,47.6393,-122.097,3140,14200

In [33]:
model.predict(X_eval)

array([[ 1978034.39393039]])